# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# General settings for all files
[*]
indent_size = 4
indent_style = space
tab_width = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 120

# Go source files
[*.go]
indent_style = tab
tab_width = 4
max_line_length = 120

# Makefile
[Makefile]
indent_style = tab

# YAML files
[*.yml]
indent_size = 2
indent_style = space

# JSON files
[*.json]
indent_size = 2
indent_style = space

# Markdown files
[*.md]
max_line_length = off
trim_trailing_whitespace = false
